.wrapper {
 display: flex;
 background-color: blueviolet;
 flex-direction: column;
}
nav{
  width: 80%;
  height: 100px;
  background-color: brown;
  align-self: center;
  border: 1px solid;
  border-bottom: none;
}
ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
li{
  list-style: none;
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
}
li a{
  text-decoration: none;
  color: aquamarine;
}
.mainContent{
  width: 80%;
  border: 1px solid;
  align-self: center;
  min-height: 500px;
}
.load-button{
  height: 100px;
  width: 100px;
  align-self: center;
}
.comments-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.page-title{
  color: white;
}


